# Local Database Credentials
DB_HOST=localhost
DB_NAME=rbac-poc
DB_USER=postgres
DB_PASSWORD=300812

# Alternatively, use a single URL:
DATABASE_URL=postgres://postgres:300812@localhost:5432/rbac-poc

# Rails Secret
SECRET_KEY_BASE=a_long_secret_key_base_here_for_dev
